.adduser {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.adduser > form {
  display: flex;
  width: 500px;
  border: 2px solid #787878;
  border-radius: 20px;
  padding: 20px;
}
.loginform {
  display: flex;
  column-gap: 40px;
  justify-content: center;
  align-items: center;
}
