.showdocument-container {
  width: 100%;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 100px;
}
.showdocument-content {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  padding-top: 20px;
  border: 2px solid #787878;
}

.create-document {
  display: flex;
  column-gap: 20px;
  justify-content: flex-end;
  padding-right: 40px;
}
